.Container {
	max-width: 1200px;
	height: 100vh;
	margin: 0 auto;
}

.Title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-family: 'Rubik', sans-serif;
	position: relative;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 10px;
	width: fit-content;
}

.Title::after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #ce5e40;
}

.formContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
}

.formContainer div {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	margin: 0 auto;
	text-align: center;
	padding: 5px 10px;
	position: relative;
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
	background-color: rgb(102, 109, 207);
	text-decoration: none;
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 3px rgb(102, 109, 207);
	outline: none;
	cursor: pointer;
	overflow: hidden;
	transition: 0.4s;
}

.btn:hover {
	background-color: rgb(69, 76, 173);
}

.input {
	padding: 0.5em;
	width: 100%;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	outline: none;
}

.textArea {
	padding: 0.5em;
	width: 100%;
	height: 100%;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	outline: none;
}
